<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunil's Pokédex</title>
</head>

<body>

    <h2>Sunil's Pokédex</h2>

    <div th:each="pokemon : ${pokeData}">
        <img th:src="@{${pokemon.imageURL}}" alt="">
        <p><span th:text="*{pokemon.id}"></span></p>
        <p><span th:text="*{pokemon.name}"></span></p>
        <p><span th:text="*{pokemon.type}"></span></p>
    </div>
</body>

</html>